<div class="container">
    <div class="row x-center">
        <div class="col-6">
            <div class="details">
                <div class="details-title">
                    <h4>

                        <%= details.title %>
                    </h4>

                </div>
                <div class="details-img">
                    <% if(details.imageExt==="MP4" ){ %>
                        <video src="/assets/img/<%= details.image %>" loop muted autoplay></video>
                        <% }else{ %>
                            <img src="/assets/img/<%= details.image %>" alt="image">
                            <% } %>
                </div>
                <div class="details-p">
                    <p>
                        <%= details.body %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>