<!DOCTYPE html>
<html lang="en">
<%- include('components/header.ejs') %>

<body>
    <%- include("components/nav.ejs") %>
    <div class="form-row">
        <div class="register-left-side">
            <%- include("components/signup.ejs") %>
        </div>
       <div class="register-right-side">
            <img src="./assets/p2.jpg" alt="">
       </div> 
    </div>
</body>
</html>